body {
    background: url("../images/queen_hive.png");
    background-repeat: no-repeat;
    background-size: 125%;
    font-family: 'Press Start 2P', cursive;
    color: red;
}

.lead {
    font-size: 14pt;
    letter-spacing: 2px;
    line-height: 1.5;

}

#jumbotron {
    opacity: 0.7;
    background: url("../images/engines.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}

.card {
    font-family: 'Aldrich', sans-serif;
    background: url("../images/egg.jpg");
    text-align: center;
}

img {
    width: 720px;
    height: 420px;
}

#start { 
    text-align: center;
    
}
footer {
    background: url("../images/queen_hive.png");
    height: 45%;
    padding-top: 15px;
}
#fuelCells {
    font-size: 18pt;
    text-align: center;
}